# Greg Kikola
# ~/.gitconfig
# Created 2018-09-09
# Updated 2025-06-24

[user]
	name = Greg Kikola
	email = gkikola@gmail.com
[core]
	editor = vim
[init]
	defaultBranch = main
[merge]
	tool = vimdiff
